@model PermessInternational.Areas.Permess.ViewModels.ProductSettingViewModels
<section class="content-header">
    <h1>
        Edit L.C Details
        <small>editing L.C information</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#" )"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</section>
<section class="content">
    <div class="box" id="lcStatement">
        <div class="box-body">
            <div class="col-md-6 col-sm-6">
                @using (Html.BeginForm("EditLCStatement", "Sales", FormMethod.Post))
                {
                    <div class="form-group">
                        <label class="col-form-label">P.I Code</label>
                        <input value="@Model.LCStatements.SICode" readonly="readonly" name="SICode" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">L.C Number</label>
                        <input name="LCNumber" value="@Model.LCStatements.LCNumber" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">L.C Date</label>
                        <input name="LCDate" value="@Model.LCStatements.LCDate" type="text" id="lCDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Expiraion Date</label>
                        <input class="form-control" value="@Model.LCStatements.ExpiraionDate" id="expiraionDate" name="ExpiraionDate" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Realise Value</label>
                        <input class="form-control" value="@Model.LCStatements.RealiseValue" name="RealiseValue" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">L.C Status</label>
                        <select class="form-control" name="LCStatus">
                            @foreach (var item in Model.YesNoModels)
                            {
                                if (Model.LCStatements.LCStatus == item.Id)
                                {
                                    <option selected="selected" value="@item.Id">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">HS Code</label>
                        <input class="form-control" name="HSCode" value="@Model.LCStatements.HSCode"/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">File Number</label>
                        <input class="form-control" name="FileNo" value="@Model.LCStatements.FileNo"/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Shipment Date</label>
                        <input class="form-control" id="shipmentDate" value="@Model.LCStatements.ShipmentDate" name="ShipmentDate" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Tenor</label>
                        <select class="form-control" name="Tenor">
                            @foreach (var item in Model.Tenors)
                            {
                                if (Model.LCStatements.Tenor == item.Id)
                                {
                                    <option selected="selected" value="@item.Id">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Value</label>
                        <input class="form-control" name="Value" value="@Model.LCStatements.Value"/>

                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Comission</label>
                        <input class="form-control" name="Comission" value="@Model.LCStatements.Comission"/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Bank Name</label>
                        <input class="form-control" name="BankName" value="@Model.LCStatements.BankName"/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Bank Submission Date</label>
                        <input class="form-control" id="bankSubDate" name="BankSubDate" value="@Model.LCStatements.BankSubDate.ToShortDateString()"/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Party Name</label>
                        <input class="form-control" name="PartyName" value="@Model.LCStatements.PartyName"/>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Payment Clause</label>
                        <select class="form-control" name="PaymentClause">
                            @foreach (var item in Model.PaymentClauses)
                            {
                                if (Model.LCStatements.PaymentClause == item.Id)
                                {
                                    <option selected="selected" value="@item.Id">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Description</label>
                        <textarea class="form-control" name="Description">@Model.LCStatements.Description</textarea>
                    </div>
                    <div class="form-group">
                        <button id="btnSave" type="submit" value="submit" class="btn btn-info">UPDATE</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>