@model PermessInternational.Areas.Permess.ViewModels.OrdersViewModels
<section class="content-header">
    <h1>
        Orders
        <small>preview of orders</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-12 col-sm-8">
                        <a href="@Url.Action("Invoice","PermessData")">PDF</a>
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>PI Code</th>
                                    <th>Issue Date</th>
                                    <th>Company Name</th>
                                    <th>Order Quantity</th>
                                    <th>Net Price</th>
                                    <th>Over Invoice</th>
                                    <th>Buyer Ref.</th>
                                    <th>Delivery Status</th>
                                    <th>Quantity Remaining</th>
                                    <th>Payment Method</th>
                                    <th style="color:red">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var sl = 0;}
                                @foreach (var item in Model.ResponseOrders)
                                {
                                    sl++;
                                    <tr>
                                        <td>@sl</td>
                                        <td>@item.SICode</td>
                                        <td>@item.IssueDate.ToShortDateString()</td>
                                        <td>@item.Companyname</td>
                                        <td>@item.OrderQuantity</td>
                                        <td>@item.NetPrice</td>
                                        <td>@item.OverInvoice</td>
                                        <td>@item.BuyerRef</td>
                                        <td>@item.Delivery</td>
                                        @if (item.Quantity <= 0)
                                        {
                                            <td>0</td>
                                        }
                                        else
                                        {
                                            <td>@item.Quantity</td>
                                        }
                                        <td>@item.PaymentMethod</td>                                        
                                        <td><a href="@Url.Action("DeleteOrder","PermessData",new { id=item.SICode})"><i class="fa fa-trash" style="font-size:20px;color:red;"></i></a></td>                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>